<div class="overview-numbers">
  <mat-progress-bar *ngIf="loaderStatus" mode="indeterminate"></mat-progress-bar>
  <mat-card class="container-fluid">
    <h4>Survey</h4>
    <hr>
    <div *ngIf="dataLoadStatus" class="row">
      <div class="col-sm-4 col-md-4">
        <mat-card>
          <h1 class="animated fadeInDown">{{total_count}}</h1>
          Total survey
          <hr>
        </mat-card>
      </div>
      <div class="col-sm-4 col-md-4">
        <mat-card>
          <h1 class="animated fadeInDown">{{pending_count}}</h1>
          Survey-in-progress
          <hr>
        </mat-card>
      </div>
      <div class="col-sm-4 col-md-4">
        <mat-card>
          <h1 class="animated fadeInDown">{{completed_count}}</h1>
          Survey completed
          <hr>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>

<div *ngIf="dataLoadStatus" class="overview-status">
  <mat-card class="container-fluid">
    <h4>Survey</h4>
    <hr>
    <div class="row">
      <div class="col-sm-2 col-md-2">
        <select [(ngModel)]="type" name="type" class="form-control select2" data-placeholder="Choose Browser">
          <option value="0">All Survey</option>
          <option value="1">In progress</option>
          <option value="2">Closed</option>
          <option value="3">Requested recieved</option>
        </select>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="icon ion-calendar tx-16 lh-0 op-6"></i>
          </span>
          <input [(ngModel)]="from_date" name="from_date" type="date" class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="icon ion-calendar tx-16 lh-0 op-6"></i>
          </span>
          <input [(ngModel)]="to_date" name="to_date" type="date" class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <button (click)="searchSurvey()" mat-raised-button>{{btnLabel}}</button>
      </div>
      <div class="col-sm-2 col-md-2">
        <button (click)="openDialog()" mat-raised-button>Launch New Survey</button>
      </div>
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Survey Tittle </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="start_date">
          <mat-header-cell *matHeaderCellDef> Launch Date</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.start_date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="end_date">
          <mat-header-cell *matHeaderCellDef> End Date</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.end_date}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="survey_response_count">
          <mat-header-cell *matHeaderCellDef> Response Count</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.survey_response_count}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </mat-card>
</div>
