<div class="overview-numbers">
  <mat-card class="container-fluid">
    <h4>Survey</h4>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <mat-card>Total survey
          <hr>
        </mat-card>
      </div>
      <div class="col-sm-4 col-md-4">
        <mat-card>Survey-in-progress
          <hr>
        </mat-card>
      </div>
      <div class="col-sm-4 col-md-4">
        <mat-card>Survey completed
          <hr>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>

<div class="overview-status">
  <mat-card class="container-fluid">
    <h4>Survey</h4>
    <hr>
  </mat-card>
</div>
